/** Posicionado */
.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.position-fixed {
    position: fixed !important;
}

.position-sticky {
    position: sticky;
    position: -webkit-sticky !important;
}

/** Display */
.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}

.d-none {
    display: none !important;
}

/** Align */
.align-items-center {
    align-items: center;
}

.align-items-flex-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

/** Imágenes */
.img-fluid {
    width: 100%;
    height: auto;
}

/** Anchura / altura */
.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

@media only screen and (max-width: 991px) {
    .d-md-none {
        display: none !important;
    }
}